@tailwind base;
@tailwind components;
@tailwind utilities;

.headercartas {
    /* background: url(../images/cartas_mobile.avif) center no-repeat, url(../images/cartas_mobile.webp) center no-repeat, url(../images/cartas_mobile.jpg) center no-repeat ; */
    display: none;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    background: center no-repeat;
    height: 550px;
    
}
.headercartasMOBILE {
    /* background: url(../images/cartas_mobile.avif) center no-repeat, url(../images/cartas_mobile.webp) center no-repeat, url(../images/cartas_mobile.jpg) center no-repeat ; */
    display: none;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    background: center no-repeat;
  
    
}

      
      .center {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
      
      .imagenLEINAD { 
        width: auto;
        height: 579px;
        
       
      }
      .imagenLEINADMOBILE { 
        width: auto;
        height: auto;
        
       
      }

/* @media (min-width: 639px) {
    .headercartas {
        background-image: url(../images/cartas.avif) , url(../images/cartas.webp) , url(../images/cartas.jpg) ;
        height: 540px;
       
        
    }
} */

.imagenback {
    background: url('../images/header1.png') white  center right no-repeat;
    background-size: 60% auto; 
    background-position-y: -30px;
}

.imagenback .sinimagenback{
    display: none;
}

@media screen and (max-width:1279px) { 
    .imagenback{ 
        background-size: 50% auto;
        background-image: url(../images/header1-m.avif), url(../images/header1-m.webp), url(../images/header1-m.png);
        background-position: auto  ;
        
    }
}

@media screen and (max-width:1023px) { 
    .imagenback{ 
        background-size: 60% auto;
        background-image: url(../images/header1-m.avif), url(../images/header1-m.webp), url(../images/header1-m.png);
    }}

@media screen and (max-width: 1024px) {
    .imagenback{
        background-image: none;
    }

    .imagenback .sinimagenback{
    display: block;
}
}

.ftp {
text-transform: uppercase;
font-size: 0.8rem;
color: #a9a9a9;
font-weight: 700;

}

